### gradle ###
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.settings/
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans


### IntelliJ IDEA ###
/.idea/
/private/
/storage/
/shopflow.iml
.checkstyle
.idea
*.iws
*.iml
*.ipr
rebel.xml
### maven ###
target/
*.war
*.ear
*.zip
*.tar
*.tar.gz

### logs ####
/logs/
**/logs/
*.log

### runtime data ###
/backup/
**/backup/

### temp ignore ###
*.cache
*.diff
*.patch
*.tmp
*.java~
*.properties~
*.xml~
/.superpowers/

### system ignore ###
.DS_Store
Thumbs.db
Servers
.metadata
upload
gen_code

### wechat devtools private config ###
/project.private.config.json
